@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9yAv5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8WAf5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9iB_5q.ttf) format('truetype');
}
* {
  outline: none;
  border: none;
  transition: all 0.2s linear;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.myBtn {
  display: inline-block;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: #0b0618;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5rem;
}
.myBtn:hover {
  background-color: #14A76C;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1000;
}
header .logo {
  font-size: 2.5rem;
  color: #F13C20;
}
header .logo i {
  color: #86C232;
}
header .navbar a {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  color: #111;
  border-radius: 5px;
}
header .navbar a:hover {
  color: #fff;
  background-color: #14A76C;
}
header .icons i,
header .icons a {
  margin-left: 0.7rem;
  font-size: 1.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color: #cec4c4;
  border-radius: 50%;
}
header .icons i:hover,
header .icons a:hover {
  background-color: #14A76C;
  transform: rotate(360deg);
}
header #menu-bars {
  display: none;
}
#search-form {
  position: absolute;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form #search-box {
  width: 28rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  font-size: 2rem;
  text-transform: none;
}
#search-form label {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
#search-form label:hover {
  color: #14A76C;
}
#search-form #close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  font-size: 4rem;
  color: #fff;
}
#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form.active {
  top: 0%;
}
section {
  padding: 2rem 9%;
}
section:nth-child(even) {
  background-color: #eee;
}
.home .home-slider .slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding-top: 9rem;
}
.home .home-slider .slide .content {
  flex: 1 1 45rem;
}
.home .home-slider .slide .content span {
  font-size: 2.5rem;
  color: #14A76C;
}
.home .home-slider .slide .content h3 {
  font-size: 5rem;
  color: #0b0618;
}
.home .home-slider .slide .content p {
  font-size: 2rem;
  color: #161515;
}
.home .home-slider .slide .content a {
  display: inline-block;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: #0b0618;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5rem;
}
.home .home-slider .slide .content a:hover {
  background-color: #14A76C;
}
.home .home-slider .slide .image img {
  width: 100%;
}
.home .swiper-pagination-bullet-active {
  background: #14A76C;
}
.menu-dishes .sub-heading {
  text-align: center;
  font-size: 2rem;
  color: #14A76C;
  padding-top: 1rem;
}
.menu-dishes .heading {
  text-align: center;
  font-size: 2rem;
  color: #0b0618;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.menu-dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}
.menu-dishes .box-container .box {
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 2.5rem;
  overflow: hidden;
  text-align: center;
}
.menu-dishes .box-container .box img {
  height: auto;
  width: 100%;
}
.menu-dishes .box-container .box h3 {
  font-size: 2rem;
}
.menu-dishes .box-container .box .stars {
  font-size: 1rem;
  padding: 1rem;
}
.menu-dishes .box-container .box .stars i {
  color: #111;
}
.menu-dishes .box-container .box .stars i:hover {
  color: #14A76C;
}
.menu-dishes .box-container .box:hover .fa-heart {
  left: 2rem;
}
.menu-dishes .box-container .box:hover .fa-eye {
  right: 2rem;
}
.menu-dishes .box-container .box .fa-heart,
.menu-dishes .box-container .box .fa-eye {
  position: absolute;
  font-size: 1.5rem;
  padding: 0.7rem;
  background-color: #cec4c4;
  border-radius: 50%;
  color: #111;
}
.menu-dishes .box-container .box .fa-heart:hover,
.menu-dishes .box-container .box .fa-eye:hover {
  color: #14A76C;
}
.menu-dishes .box-container .box .fa-heart {
  left: -2.9rem;
}
.menu-dishes .box-container .box .fa-eye {
  right: -4rem;
}
.menu-dishes .box-container .box span {
  font-weight: bold;
  display: block;
}
.about .sub-heading {
  text-align: center;
  font-size: 2rem;
  color: #14A76C;
  padding-top: 1rem;
}
.about .heading {
  text-align: center;
  font-size: 2rem;
  color: #0b0618;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.about .row {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  flex-wrap: wrap;
}
.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
}
.about .row .content h3 {
  color: #0b0618;
  font-size: 3rem;
  padding: 0.5rem 0;
}
.about .row .content p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.about .row .content .icon-container {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.about .row .content .icon-container .icons {
  background-color: #cec4c4;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex: 1 1 17rem;
  padding: 10px;
}
.about .row .content .icon-container .icons i {
  font-size: 2.5rem;
  color: #14A76C;
}
.about .row .content .icon-container .icons span {
  font-size: 1.5rem;
}
@media screen and (max-width: 1101px) {
  html {
    font-size: 70%;
  }
  header {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 728px) {
  header .icons #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #cec4c4;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
#search-box {
  width: 90%;
  margin: 0 1rem;
}
@media screen and (max-width: 1101px) {
  html {
    font-size: 70%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
}
